<div class="side-menu">
  <div class="menu-header">
    <h2>Title</h2>
  </div>
  <ul class="menu">
    <a href="/dashboard"><li>Dashboard</li></a>
    <a href="/users"><li>Users</li></a>
    <a href="/coffee"><li>Coffee</li></a>
    <a href="/history"><li>History</li></a>
  </ul>
</div>
