<div class="content-container">
  <div class="content">
    <h3>
      <span>
        <i class="fa fa-tachometer"></i>
      </span>
      <span>Dashboard</span>
    </h3>
    <div class="row">
      {{#cf-coffee-picker sorted=sorted}}{{/cf-coffee-picker}}
    </div>
  </div>
</div>

{{outlet}}
