<div class="content-container">
  <div class="content">
    <h3>
      <span>
        <i class="fa fa-users"></i>
      </span>
      <span>Users</span>
    </h3>

    <div class="row clearfix">
      <a href="users/new" class="btn add">
        <span>
          Add
        </span>
      </a>
      <!-- <a href="users/update/1" class="btn upd" >
        <span>
          Edit
        </span>
      </a> -->
      <!-- <a href="#" class="btn del" {{action 'deleteUser'}}>
        <span>
          Delete
        </span>
      </a> -->
    </div>

    <div class="row">
      {{#cf-grid model=model}}
      {{/cf-grid}}
    </div>
  </div>
</div>

{{outlet}}
